body {
    font-family: $body-font;
    font-size:16px;
    line-height: normal;
    text-rendering: optimizeLegibility;
}

h1,h2,h3,
h4,h5,h6 {
    font-family: $header-font;
    font-weight: 900;
}

textarea.form-control,
textarea.form-control > div {
    text-align: left;
}

ul.normal-list {
    list-style: disc;
    padding-left:1rem;
    margin-bottom: 15px;

    > li {
        margin-bottom: 0.33rem;
    }
}

.very-emphasised {
    font-weight: 900;
    font-style: oblique;
    color: $highlight-col;
}

main {
    display: block;
    position: relative;
    width: 100%;
    padding:0px;
    margin: 0px;
}

nav {

    .navbar-brand {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        cursor: default;

        img {
            position: relative;
            width: 20%;
            max-width: 50px;
            height: auto;
            margin-right: 15px;
        }
    }
}

.static-thumb {
    width: 100%;
    max-width: 550px;
    height: auto;
    min-height: 240px;
    max-height: 550px;
    background-color: #ccc;
    outline: 5px #ccc solid;
    border: 2px #999 solid;
}

footer {
    text-align: center;
    font-size: 10px;
}